<html>
    <head>
        <title>Teller</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

        <script type="text/javascript" charset="utf-8">

            // Load variables
            var game_id = '{{ game_id }}';             
            var email = '{{ email }}';  

            var socket;
            $(document).ready(function() {
                
                var ext = 'http://';            

                socket = io.connect(ext + document.domain + ':' + location.port);    

                socket.on('disconnect', function() {                
                    socket.emit('leave_game', {'game_id':game_id});                    
                });       

                socket.on('connect', function() {
                    socket.emit('join_game', {'game_id':game_id});                    
                    socket.emit('get_game_data', {'game_id':game_id, 'user_type':'Teller'}); 
                });       

                socket.on('game_data', function(data) {                                        
                    document.getElementById("chat").value = data['text'].replace(/Teller/gi, "You");
                    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
                    document.getElementById("textfield_input").disabled = data['is_drawer_turn'];
                    document.getElementById('target_image').src = data['target_image_and_label']['target_image'];                   
                    document.getElementById('target_label').src = data['target_image_and_label']['target_label'];                                         
                });  

                // Enter key pressed - send message
                const node = document.getElementsByClassName("textfield")[0];
                node.addEventListener("keyup", function(event) {                    
                    if (event.key === "Enter") {

                        var txt = document.getElementById('textfield_input').value;
            
                        if (txt.length < 250 && txt.length > 2) {

                            document.getElementById('textfield_input').value = "";
                            socket.emit('send_message', {'text':txt, 'game_id':game_id, 'user_type':'Teller'});             

                        }else if (txt.length > 250) {
                            alert("Your message is too long!");
                        }else{
                            alert("Your message is too short!");
                        }                     
                    }
                });
            });
        </script>

    </head>

    <body>

        <div style="display: flex; flex-direction: column;">

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-content: center;">
                <h1 style="margin-top: 15px; font-family: monospace; font-size: 16px; font-weight: 100; color: #3498db">Chat interface</h1>
            </div>

            <div style="display: flex; justify-content: center; flex-direction: row;">
                <img id="target_image" style="width: 350px; height: 350px; margin: 5px;">  
                <img id="target_label" style="width: 350px; height: 350px; margin: 5px;">  
                <img id="peek" style="width: 350px; height: 350px; margin: 5px;">            
            </div>

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-content: center;">
                <textarea id="chat" style="width: 500px; height: 400px; margin: 5px; font-size: 18px; font-family: monospace;"></textarea>     
                <img id="target_image" style="width: 0px; height: 0px; margin: 5px;">               
            </div>    

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-content: center;">
                <input type="text" id="textfield_input" style="margin-top: 5px; margin-right: 10px; height: 30px; width: 500px;" class="textfield"> 
            </div>

            <div style="width: 100%; display: flex; justify-content: center; padding-top: 25px;">
                <!-- <button id="new_game" style="margin: 5px; height: 40px; width: 130px; background-color: #3498db; text-decoration-color: white; color: white; border-radius: 7px; font-family: monospace; font-size: 16px;">Finish Game</button> -->

                <button id="peek_button" style="margin: 5px; height: 40px; width: 130px; background-color: #e74c3c; text-decoration-color: white; color: white; border-radius: 7px; font-family: monospace; font-size: 16px;">Peek (?)</button>
            </div>
        </div>    
    </body>
</html>
